{{#each this}}
<tr>
	<td><span class="glyphicon glyphicon-play"></span></td>
	<td>{{name}}</td>
	<td>{{artist}}</td>
	<td>{{album}}</td>
	<td>{{genre}}</td>
	<td>{{time}}</td>
	<td><span class="glyphicon glyphicon-remove"></span></td>
	<td class="hide">{{@key}}</td>
</tr>
{{/each}}